.reno_txt_2 ol{
    margin-bottom: 25px !important;
}

.reno_rating{
    margin-top: -150px;
}
.reno_footer{
    margin-top: -100px;
}

@media(max-width:1400px){
    .reno_rating{
        margin-top: -100px;
    }
}
@media(max-width:1060px){
    .reno_footer{
        margin-top: 0px;
    }
}