.image_component{
    margin-top: -60px;
}
#Venous_sec{
    margin-top: -140px !important;
}
.venous_txt_main{
    margin-bottom: 30px;
}
.venous_txt{
    margin-bottom: 25px;
}
.venous_txt h6{
    font-weight: 700;
}
.venos_txt_2_sub{
    margin-bottom: 20px;
}
.venos_txt_2_sub h6 {
    font-weight: 700;

}
.venos_txt_2 ul li{
    list-style-type: disc;
    margin-bottom: 15px;
}
.venos_txt_2 ul li b{
    text-decoration: underline !important;
}
.venous_rating{
    margin-top: -120px;
}

@media(max-width:1400px){
    .venous_rating{
        margin-top: -40px;
    }
}

@media(max-width:1060px){
    .venous_rating{
        margin-top: -60px;
    }
    .venous_rating{
        margin-bottom: 80px;
    }
    .image_component{
        margin-top: -80px;
    }
}