*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none !important;
    font-family: "Roboto", sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: sans-serif; */
}

a{
    color: #000;
}


section{
    padding: 100px 10%;
}
/* :root{
    --book--:#132573
} */


@media(max-width:1400px){

    
    section{
        padding: 50px 3%;
    }
}
